# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build
build/
*.o
*.d

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Previews
*.xcpreview
